
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.todo-app{
  max-width: 700px;
  margin: 20px auto;
  padding: 10px 20px 10px;
}

.collection-item{
  background: #eee;
}

.collection-item span:hover{
  cursor: pointer;
  text-decoration: line-through;
}

form{
  margin: 20px 10px;
}

.button{
  float:right;
  cursor: pointer;
  
}

.completed{
  fontStyle: "italic";
  color: "#cdcdcd";
}